@model ProjectsDetailViewModel

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
    
        <div class="col-md-8">
            <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
            <div class="card-body">
                <h5 class="card-title">Project @Model.Id</h5>
                <h3 class="card-subtitle mb-2 text-muted">Name: @Model.Name</h3>
                <p class="card-text">Description: @Model.Description</p>
                <p class="card-footer">Starts: @Model.StartDate.ToShortDateString()</p>
                <p class="card-footer">Ends: @Model.EndDate.ToShortDateString()</p>

                <h5>Assigned Employees</h5>

                @if (Model.AssignedEmployees.Count == 0)
                {
                    <p class="text-danger">No Assigned Employees</p>
                }
                else
                {
                    <ul>
                        @*list the projects here*@
                        @foreach (EmployeeDetailViewModel employee in Model.AssignedEmployees)
                        {
                            <li>@employee.Name | @employee.Department | @employee.Position <br /> </li>
                        }
                    </ul>
                }



            </div>
        </div>
        <div>
            <a asp-action="Update" asp-controller="Projects" class="btn btn-success float-end" asp-route-id="@Model.Id">Update</a>
            <a asp-action="Delete" asp-controller="Projects" class="btn btn-danger float-end" asp-route-id="@Model.Id">Delete</a>

        </div>

    </div>
</div>

<a asp-action="Index" asp-controller="Projects">Back</a>

